*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #6589F9;
}

.grid {
    /* gives a 4 x 4 grid at 150 px each */
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: url('../img/redquestion300.png') no-repeat center center / contain;
}

.back {
    height: 150px;
    width: 150px;
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

/* matched cards will now remain visible */

.match {
    transform: rotateY(180deg);
}

/* removed .match so that matched image remains visible */

/*.front {
    background: #6589F9 !important;
}*/

#playGame-button,
#playAgain-button,
#gameOver-button {
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    ;
    background-color: #d84679;
    border: 5px solid #dadfe3;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex-inline;
    font-family: 'Comic Sans MS', 'Times New Roman', Times, serif;
    font-size: 24px;
}

#game {
    display: none;
}

#gameStart-screen {
    max-width: 960px;
    max-height: 600px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #6589F9;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Comic Sans MS', 'Times New Roman', Times, serif;
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
    border: 5px solid #dadfe3;
    border-radius: 20px;
}

#gameOver-screen {
    max-width: 960px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #6589F9;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Comic Sans MS', 'Times New Roman', Times, serif;
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
    border: 5px solid #dadfe3;
    border-radius: 20px;
}

/*#score {
    position: absolute;
    margin: auto;
    text-align: center;
    font-size: 20px;

}*/

/* The Modal (background) */

.modal {
    /* Hidden by default */
    display: none;

    /* Stay in place */
    position: fixed;

    /* Sit on top */
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

#modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    height: 80%;

    /* enable scrolling if needed*/
    overflow: auto;
}

#modal-content img {
    /*display: flex;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    /*margin: auto;*/

}

#modal2 {
    font-family: 'Comic Sans MS', 'Times New Roman', Times, serif;
    font-size: 22px;

}

/*#horse_image {
    display: flex;
    max-width: 300px;
    max-height: 300px;
   /* overflow: hidden;*/

}

*/
